/java/Academia/dist/
/java/Pessoa/nbproject/private/
/java/Pessoa/build/
/java/Andre/nbproject/private/
/java/Andre/build/
/java/ProjetoFila/nbproject/private/
/java/ProjetoFila/build/
/java/ColecaoFilmes/nbproject/private/
/java/JavaJDBC/nbproject/private/
/java/AppMercado/nbproject/private/
/java/AppMercado/dist/
/java/AppMercado/build/
/java/AppMercadoBD/nbproject/private/
/java/AppMercadoBD/dist/
/java/AppMercadoBD/build/
