/java/Academia/dist/
/java/Pessoa/nbproject/private/
/java/Pessoa/build/
/java/Andre/nbproject/private/
/java/Andre/build/
/java/ProjetoFila/nbproject/private/
/java/ProjetoFila/build/
/java/ColecaoFilmes/nbproject/private/
/java/TesteSwingPuro/nbproject/private/
/java/TesteSwingPuro/build/
/java/TesteSwingPuro/dist/
