:root {
    --background_color: #7289da;
    --form_color: #424549;
    --text_color: white;
}

* {
    margin: 0;
    padding: 0;
}

.tittle {
    color: var(--text_color);
    text-align: center;
    padding: 2rem;

}

body {
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form {
    background-color: var(--form_color);
    border-radius: 2rem;
    padding: 0 2rem 2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    color: var(--text_color);
    width: 38%;
}

#form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:80%;
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

#botao{
    width:20%;
    border-radius: 100rem;
    height: 2rem;
}

.text_box{
    width:50%;
    height: 3em;
    align-items: center;
    justify-content: center;
}   

.linha{ display: flex;}